.container {
    display: block;
    width: 100%;
    height: 100vh;
    margin: auto;
}

.containerContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.mapContainer {
    display: block;
    width: 100%;
    height: 100%;
}

.infoContainer {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.backBtn {
    display: block;
    font-size: 18px;
    height: 2em;
    padding: 0 2em 0 2em;
    box-sizing: border-box;
    border: none;
    border-radius: 1em;
    background-color:rgb(128, 187, 255);
    transition: 1s;

    cursor: pointer;
    margin: 1em;
}

.backBtn:hover {
    background-color:rgba(128, 187, 255, 0.3);
    transition: 1s;
}

